<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Account List</key>
	<array>
		<string>Account</string>
		<string>Are you sure to change account?</string>
		<string>Cancel</string>
		<string>Sure</string>
		<string>Account Settings</string>
	</array>
	<key>Account Settings</key>
	<array>
		<array>
			<string></string>
		</array>
		<array>
			<string>Free</string>
		</array>
		<array>
			<string>Account Name</string>
			<string>Account Type</string>
		</array>
		<string>Log Out</string>
		<string>Advanced</string>
		<string>Want an advanced account? All you want are in Nevel website.</string>
	</array>
	<key>Domain List</key>
	<array>
		<string>Nevel Powered</string>
		<string>Security Logs</string>
		<string>Alerts</string>
	</array>
	<key>Login</key>
	<array>
		<string>Nevel ID:</string>
		<string>Password:</string>
		<string>Register</string>
		<string>Login</string>
		<string>Previous</string>
		<string>Next</string>
		<string>Mercury</string>
		<string>Enter your ID here</string>
		<string>Enter the password</string>
		<string>Whoops!</string>
		<string>Fill it out okay ~~</string>
		<string>Fine</string>
		<string>Login...</string>
		<string>Updating data...</string>
	</array>
	<key>Mainboard</key>
	<array>
		<string>Domain List</string>
		<string>Account</string>
		<string>Settings</string>
		<string>Help</string>
	</array>
	<key>Settings</key>
	<array>
		<array>
			<string>Notifications</string>
			<string>Wi-Fi Only</string>
			<string>Send Crash Reports</string>
		</array>
		<array>
			<string>Sound Alert</string>
			<string>Vibrator Alert</string>
			<string>Theme</string>
		</array>
		<array>
			<string>Version</string>
		</array>
		<array>
			<string>Always</string>
			<string>Ask</string>
			<string>Never</string>
		</array>
		<array>
			<string>Nevel Classic</string>
			<string>Blackhole</string>
		</array>
		<array>
			<string>3.1415</string>
			<string>Nevel All Rights Reserved.</string>
			<string>Nevel, Never leave you. (For fun~)</string>
		</array>
	</array>
	<key>Site</key>
	<array>
		<string>Settings</string>
	</array>
	<key>Site List</key>
	<array>
		<string>Settings</string>
		<string>Done</string>
	</array>
	<key>Site Settings</key>
	<array>
		<array>
			<string>Enable Nevel</string>
			<string>High Security Level</string>
			<string>Cache Dynamic Content</string>
			<string>WAF Security</string>
			<string>Email Obfuscation</string>
			<string>Always Online</string>
			<string>Hotlink Prevension</string>
			<string>Purge Cache</string>
		</array>
		<string>Delete This Domain.</string>
		<string>Alert</string>
		<string>Are you sure to disable Nevel that may lead to some bad influence?</string>
		<string>Are you sure to purge cache?</string>
		<string>Are you sure to delete this site?</string>
		<string>YES</string>
		<string>NO</string>
	</array>
</dict>
</plist>
