<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<array>
		<string>Nevel ID:</string>
		<string>Password:</string>
		<string>Register</string>
		<string>Login</string>
		<string>烧还没退...Just login this time</string>
		<string>病好啦!Auto login next time</string>
		<string>退烧啦!Save password</string>
		<string>Tab here to edit.</string>
		<string>Tab here to edit.</string>
		<string>Whoops!</string>
		<string>病没好还不赶快休息?!Fill it out okay ~~</string>
		<string>Fine</string>
	</array>
</dict>
</plist>
