<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Network Settings</key>
	<array>
		<string>Notifications</string>
		<string>Wi-Fi Only</string>
		<string>Send Crash Reports</string>
	</array>
	<key>App Preferences</key>
	<array>
		<string>Sound Alert</string>
		<string>Vibrator Alert</string>
		<string>Theme</string>
	</array>
	<key>Account</key>
	<array>
		<string>Account</string>
	</array>
	<key>About</key>
	<array>
		<string>Version</string>
	</array>
</dict>
</plist>
