<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Login</key>
	<array>
		<string>Nevel ID:</string>
		<string>Password:</string>
		<string>Register</string>
		<string>Login</string>
		<string>Just login this time</string>
		<string>Auto login next time</string>
		<string>Save password</string>
		<string>Tab here to edit.</string>
		<string>Tab here to edit.</string>
	</array>
</dict>
</plist>
