<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Account List</key>
	<array>
		<string>Account List</string>
		<string>Are you sure to change account?</string>
		<string>Cancel</string>
		<string>Sure</string>
		<string>Account Settings</string>
	</array>
	<key>Account Settings</key>
	<array>
		<array>
			<string></string>
		</array>
		<array>
			<string>Free</string>
		</array>
		<array>
			<string>Remember Account</string>
			<string>Auto Login</string>
		</array>
		<array>
			<string>Account Name</string>
			<string>Account Type</string>
			<string>Login Type</string>
		</array>
		<string>Log Out</string>
		<string>Advanced</string>
		<string>Want an advanced account? All you want are in Nevel website.</string>
	</array>
	<key>Login</key>
	<array>
		<string>Nevel ID:</string>
		<string>Password:</string>
		<string>Register</string>
		<string>Login</string>
		<string>Just login this time</string>
		<string>Auto login next time</string>
		<string>Save password</string>
		<string>Tab to edit your ID</string>
		<string>Tab to edit the password</string>
		<string>Whoops!</string>
		<string>Fill it out okay ~~</string>
		<string>Fine</string>
		<string>Login...</string>
		<string>Updating data...</string>
	</array>
	<key>Mainboard</key>
	<array>
		<string>Sites List</string>
		<string>Settings</string>
	</array>
	<key>Settings</key>
	<array>
		<array>
			<string>Notifications</string>
			<string>Wi-Fi Only</string>
			<string>Send Crash Reports</string>
		</array>
		<array>
			<string>Sound Alert</string>
			<string>Vibrator Alert</string>
			<string>Theme</string>
		</array>
		<array>
			<string>Current Account</string>
		</array>
		<array>
			<string>Version</string>
		</array>
		<array>
			<string>Always</string>
			<string>Ask</string>
			<string>Never</string>
		</array>
		<array>
			<string>Nevel Classic</string>
			<string>Blackhole</string>
		</array>
		<array>
			<string>3.1415</string>
			<string>Nevel All Rights Reserved.</string>
			<string>Nevel, Never leave you. (For fun~)</string>
		</array>
	</array>
</dict>
</plist>
